<h1>Update Product</h1>
<form action='/api/products/update/{{productData.id}}' method="POST" >
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value={{productData.name}} class="form-control"/>
    </div>
    <div class="form-group">
        <label for="url">Image URL</label>
        <input type="text" name="url" value={{productData.url}} class="form-control"/>
    </div>
    <div class="form-group">
        <label for="cost">Cost</label>
        <input type="text" name="cost" value={{productData.cost}} class="form-control"/>
    </div>
    <div class="form-group">
        <label for="company">Company Name</label>
        <input type="text" name="company" value={{productData.company}} class="form-control"/>
    </div>
    <div class="form-group">
        <label for="details">Online Shopping Link</label>
        <input type="text" name="online_shopping_link" value={{productData.online_shopping_link}} class="form-control"/>
    </div>
    <input type="submit" value="Submit"/>
</form>